#
#	Specify adress and port here like
#	[webserver]
#	listen_adress: 192.168.10.130
#	port: 4750
#	will make the webif reachable at http://192.168.10.130:4750
#	adress can 0.0.0.0 too which make it listen on all interfaces.
#
[webserver]
listen_adress: 0.0.0.0
web_root: ~/sdcard/web
port: 4750

#
#	one can filter gcode replys.
#	That is usefull if you set acceleraions midprint.
#	on longer prints it prevents you log from that spam.
#
[reply_filters]
regex:
	max_accel: \d+.\d+
	max_accel_to_decel: \d+.\d+
	square_corner_velocity: \d+.\d+
	max_velocity: \d+.\d+